<div class="d-flex between background">
    <div class="d-flex">
       <div *ngIf="!user">
        &nbsp;
        <br>
        &nbsp;
        <br> 
       </div>

       <div *ngIf="user" class="navbarContainer" >
        <div class="row navbar iconNavbar"   >
            <div class="l">
                <div class="d-flex">
                    <a routerLink="/home" routerLinkActive="active" class="noA">
                        <div class="wrap">
                            <svg class="whiteAndActive" xmlns="http://www.w3.org/2000/svg" width="20px" style="margin-bottom: 10%;" viewBox="0 0 576 512">
                                <path  
                                   d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z" />
                            </svg>
                            {{es.home}}
                        </div>
                    </a> 
                    <!-- <a list-group-item btn btn-light routerLink="/management" routerLinkActive="active" class="noA">
                        <div class="wrap"> <svg xmlns="http://www.w3.org/2000/svg" width="20px" style="margin-bottom: 10%; "
                                viewBox="0 0 384 512">
                                <path
                                    d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM112 192H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
                            </svg> 
                            {{es.gestionOt}}
                        </div>
                    </a> -->
                    <a list-group-item btn btn-light routerLink="/maps" routerLinkActive="active" class="noA">
                        <div class="wrap">
                            <svg class="whiteAndActive" xmlns="http://www.w3.org/2000/svg" width="20px" style="margin-bottom: 10%;  "
                                viewBox="0 0 576 512">
                                <path 
                                    d="M384 476.1L192 421.2V35.9L384 90.8V476.1zm32-1.2V88.4L543.1 37.5c15.8-6.3 32.9 5.3 32.9 22.3V394.6c0 9.8-6 18.6-15.1 22.3L416 474.8zM15.1 95.1L160 37.2V423.6L32.9 474.5C17.1 480.8 0 469.2 0 452.2V117.4c0-9.8 6-18.6 15.1-22.3z" />
                            </svg> 
                            {{es.maps}}
                        </div>
                    </a> 
                    <!-- <a  routerLink="/user" routerLinkActive="active" class="noA">
                        <div class="wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" style="margin-bottom: 10%;  "
                                viewBox="0 0 448 512">
                                <path
                                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                            </svg>
                            {{es.users}}
                        </div>
                    </a> -->
                </div>
            </div>
        </div>
        </div>

        <!-- <p *ngIf="user"  class="noP w-more" (click)="openMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="auto" viewBox="6 0 22 20" class="eva eva-menu-outline" fill="currentColor"><g data-name="Layer 2"><g data-name="menu"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><rect x="3" y="11" width="18" height="2" rx=".95" ry=".95"></rect><rect x="3" y="16" width="18" height="2" rx=".95" ry=".95"></rect><rect x="3" y="6" width="18" height="2" rx=".95" ry=".95"></rect></g></g></svg>
         </p> -->
        </div>
        <div>
            <h2 class="etergea"> {{es.ETERGEA}}</h2>
            <!-- <img *ngIf="user" src="../../../assets/logo_mega.png" class="logo"> -->
        </div>
        
    <div class="d-flex between">
        <button *ngIf="user" class="noP noB userClass" (click)="optionsUser()" > 
          {{user}} &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="auto" viewBox="0 0 24 24" class="eva eva-person-outline" fill="currentColor"><g data-name="Layer 2"><g data-name="person"><rect width="24" height="24" opacity="0"></rect><path d="M12 11a4 4 0 1 0-4-4 4 4 0 0 0 4 4zm0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2z"></path><path d="M12 13a7 7 0 0 0-7 7 1 1 0 0 0 2 0 5 5 0 0 1 10 0 1 1 0 0 0 2 0 7 7 0 0 0-7-7z"></path></g></g></svg>
         </button>
    </div>
    <!-- (mouseleave)="focusOut()"  -->
    <div  *ngIf="user && submenu" class="subMenu">
        <button class="noP noB" (click)="logout()">{{es.cerrarSesion}}</button>
    </div>
</div>