// @import "~bootstrap/scss/bootstrap";
// @import "~bootstrap-icons/font/bootstrap-icons.css"; 

@import "~leaflet/dist/leaflet.css";
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");

html, body {
    height: 99%;
    margin: 0;
    padding: 0; 
  }

  html { 
    display: block;
  }

  #app-root {
    height: 100%;
  }

  
.leaflet-control-attribution {
  display: none !important;
}

 